#footer {
    background-color: #310A31;
    padding: 2rem;
    width: 100%;
    position: fixed;
    bottom: 0;
}

#icon {
    display: flex;
    justify-content: space-around;
    color: white;
}

#icon:hover {
    color: yellowgreen;
    cursor: pointer;
}